Requirements for game “HANGMAN”
1.	The dictionary with at least 20 words must be stored in a database
2.	Program should randomly select a word that the user should guess 
3.	Program draws a blank line for each letter in the word 
4.	Ask the user to guess, giving information about the current state (letters in the word and letters known not to be in the word)
5.	Handle the guess that the user made:
a.	fill the letter in the blanks if the user guesses correctly,
b.	draw part of “hangman” when the user guesses wrong
6.	Store all of the words and guesses, and display them to the user when prompted to do so
7.	Save the words and guesses to a database
8.	The user wins when the correct word is guessed
9.	Program must show 3 options to user after game lost/won:
a.	Play again
b.	Logout - if user selects this option, then another user may login
c.	Exit program
d.	List all games of a user and number of guesses he took as well as the outcome (win/loss)
10.	At the start of a program user must login by entering a nickname
11.	When user logs in for the first time - program must ask to enter name and age
12.	This information must be stored in a database
13.	Additionally in a database should be stored all games of each user. The information required is: word, number of guesses, win/loss
